<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio About</title>
</head>
<body>
<%= require('html-loader!../../layout/header.html').default %>
<main>
    <%= require('html-loader!../../components/nav.html').default %>
    <section class="detail-element detail-element-catalog">
        <div class="container">
            <div class="detail-element__wrapper">
                <div class="detail-element__photos">
                    <div class="detail-element__main-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="./img/cdetail12.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/cdetail13.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/cdetail13.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="detail-element__side-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./img/cdetail12.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./img/cdetail13.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./img/cdetail13.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slider-prev slider-prev--mini slider-prev--green"></div>
                        <div class="slider-next slider-next--mini slider-next--green"></div>
                    </div>
                </div>
                <div class="detail-element__info">
                    <h1 class="detail-element__title">Сыр « VAN GOLD STATUS»</h1>
                    <div class="detail-element__text">
                        <p>Линейка сыров «VAN GOLD» вобрала дух европейской старины и бережно хранимых традиций,
                            придающих продукту изысканную премиальность – как во времена, когда производство было ручным
                            и за качество производимой продукции владелец сыроварни ручался собственным именем.
                            Собственно, плашка с логотипом и представляет собой своеобразную «подпись мастера»,
                            оформленную в стиле мастерового клейма. «Своеобразное колесо жизни и времени», в артистичной
                            манере раскрывающее этапы процесса сыроделия, которое не меняется веками. Дух европейской
                            старины и бережно хранимых традиций придают продукту изысканную премиальность.</p>

                        <p>Специалистам комбината удалось повторить вкус, аромат и консистенцию известных шедевров
                            мирового сыроварения. Наша продукция – это результат кропотливого труда и по адаптации
                            европейских технологий к региональным условиям производства. Процесс сыроварения необходимо
                            обязательно проводить с большой любовью и лишь тогда получится требуемый вкус.</p>
                    </div>
                    <div class="detail-element__file">
                        <div class="file-btn">
                            <div class="file-btn__text">
                                Декларация
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="props">
        <div class="container">
            <div class="props__wrapper">
                <div class="props__logo">
                    <img src="./img/foresteppe.png" alt="">
                </div>
                <div class="props__list">
                    <div class="props__title">
                        Характеристики
                    </div>
                    <ul>
                        <li class="props__item">
                            <span class="props__name">
                                <span>Жирность</span>
                            </span>
                            <p>50%</p>
                        </li>
                        <li class="props__item">
                               <span class="props__name">
                                <span>Срок созревания</span>
                            </span>
                            <p>25 суток</p>
                        </li>
                        <li class="props__item">
                            <span class="props__name">
                            <span>Вес</span>
                            </span>
                            <p>Цилиндр 8-10 кг,<br>
                                Малый брус 3-3,5 кг,<br>
                                Фасованный 200 г</p>
                        </li>
                        <li class="props__item">
                            <span class="props__name">
                            <span>Срок созревания</span>
                            </span>
                            <p>Цилиндр 2 шт.,<br>
                                Малый брус 5 шт.,<br>
                                Фасованный 12 шт</p>
                        </li>
                        <li class="props__item">
                            <span class="props__name">
                            <span>Срок годности</span>
                            </span>
                            <p>240 суток</p>
                        </li>
                        <li class="props__item">
                            <span class="props__name">
                            <span>Температура хранения</span>
                            </span>
                            <p>от 0 до +6 °C</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="right-text">
        <div class="container">
            <div class="right-text__content">
                <p>Сыр «VANGOLDSTATUS» (180) 6 мес - Роскошь и высочайшее качество, изысканность и элегантность - это
                    все об этом сыре. Будь то в ассортименте сырной нарезки, либо в кулинарном рецепте, VAN GOLD STATUS
                    незаменим на Вашем столе к большому удовольствию всей семьи и гостей!</p>
                <p>Яркий вкус, чарующий аромат, пикантная остринка - все это собрано в нашем сыре VAN GOLD STATUS .
                    Уникальная рецептура производства была разработана Пружанскими специалистами.</p>
                <p>Это зрелый сыр, обладающий глубоким и насыщенным вкусом, с пикантным послевкусием. Текстура
                    одновременно и твёрдая, и приятно ломкая, это достигнуто длительным сроком созревания сыра.
                    Бесспорно, STATUS понравится любителям насыщенного аромата и изысканного вкуса, который по
                    достоинству будет оценен знатоками-гурманами.</p>
            </div>
        </div>
    </section>
    <section class="recently-viewed">
        <div class="container">
            <div class="recently-viewed__wrapper">
                <h2 class="recently-viewed__title">Вы недавно смотрели</h2>
                <div class="recently-viewed__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="./catalog-element.html" class="slider-card__photo">
                                        <img src="./img/slider-card1.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="./catalog-element.html">
                                            Сыр плавленый «Сливочный»
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="./catalog-element.html" class="slider-card__photo">
                                        <img src="./img/slider-card2.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="./catalog-element.html">
                                            Сыр «VAN GOLD
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="./catalog-element.html" class="slider-card__photo">
                                        <img src="./img/slider-card3.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="./catalog-element.html">
                                            Масло сладкосливочное несоленое 82,5%
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="./catalog-element.html" class="slider-card__photo">
                                        <img src="./img/slider-card4.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="./catalog-element.html">
                                            Сыр «VAN GOLD BENUA
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="./catalog-element.html" class="slider-card__photo">
                                        <img src="./img/slider-card5.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="./catalog-element.html">
                                            Сыр плавленый сладкий с клюквой
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="./catalog-element.html" class="slider-card__photo">
                                        <img src="./img/slider-card1.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="./catalog-element.html">
                                            Сыр плавленый «Сливочный»
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-prev slider-prev--green"></div>
                    <div class="slider-next slider-next--green"></div>
                    <div class="recently-viewed__pagination cheese-pagination cheese-pagination--green"></div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= require('html-loader!../../layout/footer.html').default %>
</body>
</html>
