<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio About</title>
</head>
<body>
<%= require('html-loader!../../layout/header.html').default %>
<main>
    <section class="welcome">
        <div class="welcome__photo">
            <img src="./img/welcome-picture.png" alt="">
        </div>
    </section>

</main>
<%= require('html-loader!../../layout/footer.html').default %>
</body>
</html>
