<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio About</title>
</head>
<body>
<%= require('html-loader!../../layout/header.html').default %>
<main>
    <section class="welcome">
        <div class="welcome__photo">
            <img src="./img/welcome-picture.png" alt="">
        </div>
    </section>
    <section class="catalog">
        <div class="container">
            <div class="text-block">
                <div class="text-block__wrapper">
                    <h2 class="text-block__title">Наши бренды</h2>
                    <div class="text-block__content">
                        <p>Откройте для себя широкий ассортимент продукции ООО «Чизмастер». Мы гордимся тем, что можем
                            предложить вам широкий ассортимент сыров и восхитительного сливочного масла. Наши продукты
                            изготовлены с использованием самых современных технологий из отборного молока.</p>
                    </div>
                </div>
            </div>
            <div class="catalog__wrapper">
                <div class="catalog__inner-wrapper">
                    <div class="catalog__filter">
                        <div class="filter-box">
                            <div class="filter-box__title">Продукция</div>
                            <div class="filter-box__list">
                                <label for="vava32352dsh" class="filter-box__item">
                                    <input id="vava32352dsh" type="checkbox" name="ba1" value="value1">
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Сливочное масло</span>
                                </label>
                                <label for="vava3235223dsa" class="filter-box__item">
                                    <input id="vava3235223dsa" type="checkbox" name="ba1" value="value2" checked>
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Твердый сыр</span>
                                </label>
                                <label for="vava3235223" class="filter-box__item">
                                    <input id="vava3235223" type="checkbox" name="ba1" value="value3">
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Полутвердый сыр</span>
                                </label>
                            </div>
                        </div>
                        <div class="filter-box filter-box--open">
                            <div class="filter-box__title">Продукция</div>
                            <div class="filter-box__list">
                                <label for="vava32352" class="filter-box__item">
                                    <input id="vava32352" type="checkbox" name="ba2" value="value1">
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Сливочное масло</span>
                                </label>
                                <label for="vava3235" class="filter-box__item">
                                    <input id="vava3235" type="checkbox" name="ba2" value="value2" checked>
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Твердый сыр</span>
                                </label>
                                <label for="vava323" class="filter-box__item">
                                    <input id="vava323" type="checkbox" name="ba2" value="value2">
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Полутвердый сыр</span>
                                </label>
                            </div>
                        </div>
                        <div class="filter-box">
                            <div class="filter-box__title">Продукция</div>
                            <div class="filter-box__list">
                                <label for="vava1" class="filter-box__item">
                                    <input id="vava1" type="checkbox" name="ba3" value="value1">
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Сливочное масло</span>
                                </label>
                                <label for="vava2" class="filter-box__item">
                                    <input id="vava2" type="checkbox" name="ba3" value="value2" checked>
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Твердый сыр</span>
                                </label>
                                <label for="vava3" class="filter-box__item">
                                    <input id="vava3" type="checkbox" name="ba3" value="value2">
                                    <span class="filter-box__switch"></span>
                                    <span class="filter-box__text">Полутвердый сыр</span>
                                </label>
                            </div>
                        </div>
                        <div class="catalog__filter-btns">
                            <a href="#" class="btn">Применить</a>
                            <a href="#" class="btn">Сбросить всё</a>
                        </div>
                    </div>
                    <div class="catalog__products">
                        <div class="catalog__list-products">
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card1.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр плавленый «Сливочный»
                                    </a>
                                </div>
                            </div>
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card1.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр « VAN GOLD GRANO PRUGIANO»
                                    </a>
                                </div>
                            </div>
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card3.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр плавленый «Сливочный»
                                    </a>
                                </div>
                            </div>
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card2.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр плавленый «Сливочный»
                                    </a>
                                </div>
                            </div>
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card2.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр « VAN GOLD GRANO PRUGIANO»
                                    </a>
                                </div>
                            </div>
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card1.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр плавленый «Сливочный»
                                    </a>
                                </div>
                            </div>
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card3.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр « VAN GOLD GRANO PRUGIANO»
                                    </a>
                                </div>
                            </div>
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card1.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр плавленый «Сливочный»
                                    </a>
                                </div>
                            </div>
                            <div class="slider-card">
                                <a href="./catalog-element.html" class="slider-card__photo">
                                    <img src="./img/card2.png" alt="">
                                </a>
                                <div class="slider-card__info">
                                    <a class="slider-card__link" href="./catalog-element.html">
                                        Сыр « VAN GOLD GRANO PRUGIANO»
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__more">
                            <a href="#" class="btn">Загрузить еще</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= require('html-loader!../../layout/footer.html').default %>
</body>
</html>
