<section class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__wrapper">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#">
                        Каталог
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <span>Щедрые пружаны</span>
                </li>
            </ul>
        </div>
    </div>
</section>