.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  transition: background-color .3s, color .3s;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: $orange;
    color: #fff;
  }

  &--filled {
    background-color: $orange;
    color: #fff;

    &:hover {
      background-color: transparent;
      color: $orange;
    }
  }

  &--bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.file-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $green;
  cursor: pointer;
  transition: opacity .3s;
  @media (max-width: $tablet){
    font-size: 20px;
    line-height: 28px;
  }
  @media (max-width: $mobile){
    font-size: 16px;
    line-height: 24px;
  }

  &:hover {
    opacity: .7;
  }

  &__text {
    position: relative;
    margin-left: 20px;
    @media (max-width: $mobile){
      margin-left: 14px;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(100% + 1px);
      width: 100%;
      left: 0;
      height: 2px;
      background-color: $green;
    }
  }

  &::before {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M61.7525 0.0200195H14.9012C11.0096 0.0200195 7.83951 3.25561 7.83951 7.24191V61.1986H3.45973C2.20629 61.1986 1.17871 62.2188 1.17871 63.4797V64.5655C1.17871 67.5533 3.56172 69.9801 6.49133 69.9801H50.843C53.6633 69.9801 56.141 67.4367 56.141 64.3104V7.96338H68.0926C68.4934 7.96338 68.8213 7.63553 68.8213 7.23467C68.8214 3.25574 65.6513 0.0200195 61.7525 0.0200195ZM54.691 7.19816C54.691 7.21279 54.6837 7.22728 54.6837 7.24191V64.3104C54.6837 66.5768 52.9056 68.6319 50.5954 68.5153C48.6059 68.5153 46.9881 66.8537 46.9881 64.8132V63.4795C46.9881 62.2188 45.9678 61.1985 44.7145 61.1985H9.29707V7.24191C9.29707 4.06457 11.8113 1.47758 14.9012 1.47758H57.5112C55.8132 2.78926 54.6982 4.85891 54.691 7.19816Z' fill='%23227650'/%3e%3cpath d='M42.769 36.3264C39.0816 36.3264 36.0938 39.3289 36.0938 43.0091C36.0938 45.2901 37.238 47.3088 38.9869 48.5112V55.7403C38.9869 56.0173 39.1472 56.2723 39.4022 56.3889C39.5042 56.4399 39.6136 56.4691 39.7156 56.4691C39.8759 56.4691 40.0362 56.4108 40.1674 56.3087L42.769 54.2537L45.3707 56.3087C45.5893 56.4835 45.8881 56.5127 46.1359 56.3962C46.3909 56.2723 46.5512 56.0172 46.5512 55.7403V48.5112C48.3003 47.3015 49.4517 45.2901 49.4517 43.0091C49.4517 39.3289 46.4492 36.3264 42.769 36.3264ZM45.0937 54.2318L43.2208 52.7524C42.9584 52.541 42.5867 52.541 42.3171 52.7524L40.4441 54.2318V49.2617C41.1729 49.5313 41.9527 49.6842 42.7689 49.6842C43.5851 49.6842 44.3648 49.5313 45.0937 49.2617V54.2318Z' fill='%23227650'/%3e%3cpath d='M19.7951 7.66836L44.1837 7.66904C44.5858 7.66904 44.9124 7.3427 44.9124 6.94033C44.9124 6.53783 44.5865 6.21162 44.1837 6.21162L19.7951 6.21094C19.3926 6.21094 19.0664 6.53728 19.0664 6.93965C19.0664 7.34201 19.3926 7.66836 19.7951 7.66836Z' fill='%23227650'/%3e%3cpath d='M49.7785 12.3735L14.2014 12.3724C13.7989 12.3724 13.4727 12.6988 13.4727 13.1011C13.4727 13.5036 13.799 13.8299 14.2014 13.8299L49.7785 13.831C50.1805 13.831 50.5072 13.5046 50.5072 13.1022C50.5072 12.6999 50.1812 12.3735 49.7785 12.3735Z' fill='%23227650'/%3e%3cpath d='M49.7785 18.5355L14.2014 18.5344C13.7989 18.5344 13.4727 18.8608 13.4727 19.2631C13.4727 19.6656 13.799 19.9918 14.2014 19.9918L49.7785 19.9929C50.1805 19.9929 50.5072 19.6666 50.5072 19.2642C50.5072 18.8619 50.1812 18.5355 49.7785 18.5355Z' fill='%23227650'/%3e%3cpath d='M49.7785 24.6972L14.2014 24.6965C13.7989 24.6965 13.4727 25.0229 13.4727 25.4252C13.4727 25.8277 13.799 26.154 14.2014 26.154L49.7785 26.1546C50.1805 26.1546 50.5072 25.8283 50.5072 25.4259C50.5072 25.0236 50.1812 24.6972 49.7785 24.6972Z' fill='%23227650'/%3e%3cpath d='M49.7785 30.8592L14.2014 30.8585C13.7989 30.8585 13.4727 31.1849 13.4727 31.5872C13.4727 31.9896 13.799 32.3159 14.2014 32.3159L49.7785 32.3166C50.1805 32.3166 50.5072 31.9903 50.5072 31.5879C50.5072 31.1854 50.1812 30.8592 49.7785 30.8592Z' fill='%23227650'/%3e%3cpath d='M31.8736 40.83V43.8106C31.8736 44.6122 31.2178 45.2682 30.4161 45.2682H14.9302C14.1285 45.2682 13.4727 44.6123 13.4727 43.8106V40.83C13.4727 40.0284 14.1285 39.3724 14.9302 39.3724H30.4162C31.2178 39.3726 31.8736 40.0284 31.8736 40.83Z' fill='%23227650'/%3e%3cpath d='M31.1451 47.787H14.2023C13.7998 47.787 13.4736 48.1133 13.4736 48.5157C13.4736 48.9181 13.8 49.2444 14.2023 49.2444H31.1451C31.5476 49.2444 31.8738 48.9181 31.8738 48.5157C31.8738 48.1133 31.5474 47.787 31.1451 47.787Z' fill='%23227650'/%3e%3cpath d='M23.6455 51.9617H14.2023C13.7998 51.9617 13.4736 52.288 13.4736 52.6904C13.4736 53.0927 13.8 53.4191 14.2023 53.4191H23.6455C24.048 53.4191 24.3742 53.0927 24.3742 52.6904C24.3742 52.288 24.048 51.9617 23.6455 51.9617Z' fill='%23227650'/%3e%3c/svg%3e ");
    width: 70px;
    height: 70px;
    display: inline-block;

  }
}
