<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio About</title>
</head>
<body>
<%= require('html-loader!../../layout/header.html').default %>
<main>
    <section class="search-catalog">
        <div class="container">
            <div class="search-catalog__wrapper">
                <h1 class="search-catalog__title">Результаты поиска «Сыр» – 725 товаров</h1>
                <div class="search-catalog__tabs">
                    <span class="search-catalog__tab search-catalog__tab--current">Каталог продукции (725)</span>
                    <a class="search-catalog__tab" href="./search-news.html">Новости (15)</a>
                </div>
                <div class="search-catalog__content">
                    <div class="search-catalog__products">
                        <div class="slider-card">
                            <a href="./catalog-element.html" class="slider-card__photo">
                                <img src="./img/card1.png" alt="">
                            </a>
                            <div class="slider-card__info">
                                <a class="slider-card__link" href="./catalog-element.html">
                                    Сыр плавленый «Сливочный»
                                </a>
                            </div>
                        </div>
                        <div class="slider-card">
                            <a href="./catalog-element.html" class="slider-card__photo">
                                <img src="./img/card1.png" alt="">
                            </a>
                            <div class="slider-card__info">
                                <a class="slider-card__link" href="./catalog-element.html">
                                    Сыр плавленый «Сливочный»
                                </a>
                            </div>
                        </div>
                        <div class="slider-card">
                            <a href="./catalog-element.html" class="slider-card__photo">
                                <img src="./img/card1.png" alt="">
                            </a>
                            <div class="slider-card__info">
                                <a class="slider-card__link" href="./catalog-element.html">
                                    Сыр плавленый «Сливочный»
                                </a>
                            </div>
                        </div>
                        <div class="slider-card">
                            <a href="./catalog-element.html" class="slider-card__photo">
                                <img src="./img/card1.png" alt="">
                            </a>
                            <div class="slider-card__info">
                                <a class="slider-card__link" href="./catalog-element.html">
                                    Сыр плавленый «Сливочный»
                                </a>
                            </div>
                        </div>
                        <div class="slider-card">
                            <a href="./catalog-element.html" class="slider-card__photo">
                                <img src="./img/card1.png" alt="">
                            </a>
                            <div class="slider-card__info">
                                <a class="slider-card__link" href="./catalog-element.html">
                                    Сыр плавленый «Сливочный»
                                </a>
                            </div>
                        </div>
                        <div class="slider-card">
                            <a href="./catalog-element.html" class="slider-card__photo">
                                <img src="./img/card1.png" alt="">
                            </a>
                            <div class="slider-card__info">
                                <a class="slider-card__link" href="./catalog-element.html">
                                    Сыр плавленый «Сливочный»
                                </a>
                            </div>
                        </div>
                        <div class="slider-card">
                            <a href="./catalog-element.html" class="slider-card__photo">
                                <img src="./img/card1.png" alt="">
                            </a>
                            <div class="slider-card__info">
                                <a class="slider-card__link" href="./catalog-element.html">
                                    Сыр плавленый «Сливочный»
                                </a>
                            </div>
                        </div>
                        <div class="slider-card">
                            <a href="./catalog-element.html" class="slider-card__photo">
                                <img src="./img/card1.png" alt="">
                            </a>
                            <div class="slider-card__info">
                                <a class="slider-card__link" href="./catalog-element.html">
                                    Сыр плавленый «Сливочный»
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="search-catalog__more-btn">
                        <a href="#" class="btn">Загрузить еще</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= require('html-loader!../../layout/footer.html').default %>
</body>
</html>
