<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="./" class="header__logo header-logo">
                <span class="header-logo__pic">
                    <img src="../img/cheese_logo.png" alt="">
                </span>
                <span class="header-logo__text">
                    <span class="header-logo__title">Чизмастер</span>
                    <span class="header-logo__subtitle">традиционное качество</span>
                </span>
            </a>
            <div class="header__nav-content">
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item header__nav-item--active header__with-submenu">
                            <a href="./about.html">О компании</a>
                            <span class="header__sub-icon"></span>
                            <ul class="header__submenu">
                                <li>
                                    <a href="./our-brands.html">наши бренды</a>
                                </li>
                                <li>
                                    <a href="./our-brands.html">производители</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__nav-item header__with-submenu">
                            <a href="./catalog.html">Каталог продукции</a>
                            <span class="header__sub-icon"></span>
                            <ul class="header__submenu">
                                <li>
                                    <a href="./catalog.html">Элитные сыры</a>
                                </li>
                                <li>
                                    <a href="./catalog.html">Полутвердые сыры</a>
                                </li>
                                <li>
                                    <a href="./catalog.html">Плавленые сыры</a>
                                </li>
                                <li>
                                    <a href="./catalog.html">Масло</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__nav-item">
                            <a href="./news.html">Новости</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#">Вакансии</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="./contacts.html">Контакты</a>
                        </li>
                    </ul>
                    <div class="header__close-burger">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30 10L10 30" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 10L30 30" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </nav>
                <div class="header__search">
                    <form method="get" action="search.html">
                        <input type="text" placeholder="Поиск...">
                        <button type="submit" class="header__submit-icon">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle cx="13.75" cy="13.75" r="8.75" stroke="#B9B9BA" stroke-width="2"/>
                                <path d="M25 25L21.25 21.25" stroke="#B9B9BA" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </button>
                    </form>
                    <span class="header__close-search">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30 10L10 30" stroke="#227650" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10 10L30 30" stroke="#227650" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </div>
                <div class="header__search-icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="19.75" cy="18.75" r="8.75" stroke="#227650" stroke-width="2"/>
                        <path d="M31 30L27.25 26.25" stroke="#227650" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="header__burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
